<%= form_for @donation, url: {action: "create"} do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :sponsorship_level %>
  </div>
  <% HoleSponsor.all.each do |amount, details| %>
    <div class="field">
      <%= f.radio_button :amount,
        amount,
        checked: selected?(amount, @donation.amount),
        disabled: details[:disabled] %>
        <%= f.label "amount_#{amount}",
          label_content(amount, details).html_safe %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :payment_type %>
    <%= f.select :payment_type, Donation.payment_types %>
  </div>

  <br />
  <div class="actions">
    <%= f.submit 'Sponsor a Hole', html: { class: 'button' } %>
    <%= link_to 'Cancel', donations_path, class: 'button alt' %>
  </div>
<% end %>
