<%= form_for @donation, url: {action: "create"} do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.select :amount, lunch_options %>
  </div>

  <div class="field">
    <%= f.label :payment_type %>
    <%= f.select :payment_type, Donation.payment_types %>
  </div>

  <br />
  <div class="actions">
    <%= f.submit 'Join us for Lunch', html: { class: 'button' } %>
    <%= link_to 'Cancel', donations_path, class: 'button alt' %>
  </div>
<% end %>
