<section id="banner">
  <h2>11<sup>th</sup> Annual Caring for Karen Sue Golf Classic</h2>
  <p>Come join us in supporting the <%= Charity.name %>.
  </p>
  <ul class="actions">
    <li><%= link_to 'Sign Up', donations_path, class: 'button special' %></li>
    <li><%= link_to 'Learn More', about_path, class: 'button special' %></li>
  </ul>
</section>
<!-- Main -->
<section id="main" class="container">
  <section class="box special">
    <header class="major">
      <h2>A Four Man Best Ball-Scramble Type Tournament</h2>
      <p>
      Come join us for competitions (like longest drive)!<br/>
      <br/>
     Golfing is optional. Lunch is after the round, followed by a raffle, and then a silent auction.
      </p>
    </header>
    <% # <span class="image featured"><%= image_tag('pic01.jpg') % ></span> %>
  </section>
  <div class="row">
    <div class="6u 12u(narrower)">
      <section class="box special">
        <span class="image featured"><%= image_tag('sponsors/applewood-golf-course.png') %></span>
        <h3><%= link_to Event.venue, Event.website, target: 'blank' %></h3>
        <p><%= Event.full_address.join('<br/>').html_safe %></p>
        <ul class="actions">
          <li><%= link_to 'Google Maps', Event.google_maps_url, target: 'blank', class: 'button alt' %></li>
        </ul>
      </section>
    </div>
    <div class="6u 12u(narrower)">
      <section class="box special">
        <span class="image featured"><%= image_tag('welcome/signup.png') %></span>
        <h3><%= Event.date %></h3>
        <p>
        <%= Event.time %></p>
        <ul class="actions">
          <li><%= link_to 'Sign Up', donations_path, class: 'button alt' %></li>
        </ul>
      </section>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="6u 12u(narrower)">
      <section class="box special">
        <span class="image featured"><%= image_tag('pic03.jpg') %></span>
        <h3>Donate</h3>
        <p>Always welcome. Always appreciated.</p>
        <ul class="actions">
          <li><a href="#" class="button alt">Donate</a></li>
        </ul>
      </section>
    </div>
  </div>
  -->
</section>
<!-- CTA -->
<!--
<section id="cta">
  <h2>Sign up for more information</h2>
  <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>
  <form>
    <div class="row uniform 50%">
      <div class="8u 12u(mobilep)">
        <input type="email" name="email" id="email" placeholder="Email Address" />
      </div>
      <div class="4u 12u(mobilep)">
        <input type="submit" value="Sign Up" class="fit" />
      </div>
    </div>
  </form>
</section>
-->
