<header id="header" <%= raw('class="alt"') if current_page?(root_url) %>>
  <h1><%= link_to(image_tag('logo.png', width: 60, style: 'margin-top: 5px'), root_path, title: 'Caring for Karen Sue') %></h1>
  <nav id="nav">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <!-- <li><%= link_to 'Sponsors', sponsors_path %></li> -->
      <li><%= link_to 'Pictures', images_events_2023_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Sign Up', donations_path, class: 'button' %></li>
    </ul>
  </nav>
</header>
